.signupCon {
  background: url("../assets/login-bg.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupWrapper {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 1rem;
}

.header {
  color: #000;
  font-size: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 1rem;
}
.InputCon {
  display: flex;
  align-items: center;
  background-color: #000;
  border-radius: 1.5rem;
  padding: 0 0.5rem;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
}

.input {
  width: 22rem;
  padding: 0.5rem;
  /* border-radius: 1.5rem; */
  font-size: 1.15rem;
  margin: 5px;
  border: none;
  outline: none;
  background-color: #000;
  color: #fff;
}

.btn {
  margin-top: 20px;
  background-color: red;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.other {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hr {
  width: 10rem;
  height: 1px;
  border-color: rgba(0, 0, 0, 0.6);
}

.orClass {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}
.btnPara {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.svg {
  width: 1.5rem;
  height: 1.5rem;
}
