.navCon {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;

}

.svg {
    width: 1.75rem;
    height: 1.75rem;
    color: white;
    position: relative;
    cursor: pointer;
}

.name {
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
}